body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif !important;
  background: rgba(213, 223, 235, 255);
  background-color: #dbeefa !important;
}

.header-area {
  width: 99%;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 20px !important;
  overflow: hidden;
  box-shadow: 0px 5px 10px #ffffff1c;
  transition: ease 0.5s;
}

.header-area.scrolled {
  top: 0px !important;
  border-radius: 0px !important;
  width: 100% !important;
}

.header-area nav {
  background-color: #111a21ee;
  transition: all 0.5s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header-area nav .nav-section {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.header-area nav .logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1465ab !important;
  font-size: 25px;
  font-weight: 700;
}

.header-area nav .logo-link:focus {
  outline: none;
  border: none;
}

.header-area nav .logo-link span {
  color: #e1342e !important;
}

.header-area nav .logo-link img {
  width: 50px;
}

.section-padding {
  padding: 120px 0;
}

.nav-link-area {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.nav-link-area li {
  list-style: none !important;
}

.nav-link-area li .nav-link {
  text-decoration: none;
  color: #EEE;
  font-weight: 500;
  transition: ease 0.5s;
}

.nav-link-area li .nav-link:hover {
  color: #e1342e !important;
}

.hero-section {
  overflow: hidden;
  height: 100vh;
  /* background-color: #3b3b3b; */
  background-color: #404f5f;
  border-bottom-right-radius: 150px;
}

.hero-container {
  border-radius: 40px;
  border: 2px solid #6a7b88;
  background: url(../public/home-image.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: calc(87vh - 20px);
  margin-top: 0;
  overflow: hidden;
  box-shadow: 0px 10px 50px #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom-right-radius: 150px;
}

.hero-container {
  width: 100%;
}

.hero-container h2 {
  color: #EEE;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  display: block;
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 10px #000;
  margin-bottom: 0;
  margin: auto 0;
}

.hero-container .hero-sub-title {
  font-size: 25px !important;
  font-weight: 500;
  color: #e0e0e0 !important;
  display: block;
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 10px #000;
}

.hero-container .hero-desc {
  color: #e0e0e0;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  display: block;
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 10px #000;
}

.hero-container h2 span {
  color: #e1342e;
  font-size: 50px;
}

.hero-container h2 span span {
  color: #1465ab !important;
}

.hero-container::before {
  content: '';
  display: block;
  background-color: #070f16c7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  /* backdrop-filter: blur(5px); */

}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: darken;
}

.section-label {
  border-radius: 20px;
  color: #1465ab;
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

.section-label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #FFF;
  border: 2px solid #e1342e;
  margin-right: 5px;
}

.section-heading {
  color: #e1342e;
  font-size: 35px;
  font-weight: 700;
}

.section-para {
  font-size: 15px;
  line-height: 26px;
}

.achievment-section {
  border-radius: 0 200px 200px 0;
  margin-right: 40px;
  box-shadow: inset -40px 0px 50px #1f283057;
  padding: 100px 0 !important;
}

.bg-gray {
  background-color: #404f5f;
}

.footer-section {
  padding: 100px 0;
  border-top-left-radius: 150px;
  background-color: #404f5f;
}

.achievment-area {
  width: 100%;
  position: relative;
}

.achievment-area .achievment-count {
  color: #e1342e;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 2px 2px 10px #202d3bcc;
  margin-bottom: 2px;
}

.achievment-area .achievment {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px 2px 10px #202d3bcc;
}

/*  */
.seach-dropdown-area {
  position: absolute;
  margin-top: 4px;
  border-radius: 8px;
  background-color: #404f5fc0;
  border: 1px solid #FFF;
  max-height: 250px;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0px -10px 40px #404f5f3f;
  padding-right: 8px;
  width: 100%;
  transform: translateY(-100%);
  top: -10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.seach-dropdown-area::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  width: 5px;
  height: 5px;
}

.seach-dropdown-area::-webkit-scrollbar-thumb {
  background-color: #adbdc9;
  border-radius: 10px;
  box-shadow: none;
}

.seach-dropdown-area::-webkit-scrollbar-track {
  background-color: initial;
  border-radius: 10px;
  box-shadow: none;
}

.seach-dropdown-area .seach-dropdown-data {
  color: #e9e9e9;
  font-size: 14px;
  padding: 8px 14px;
  width: 100%;
  text-wrap: wrap;
  transition: ease .3s;
  cursor: pointer;
  margin: 4px;
  border-radius: 5px;
}

.seach-dropdown-area .seach-dropdown-data:hover {
  background-color: #cedce7 !important;
  color: #404f5f !important;
}